<% layout('layouts/boilerplate') %>
    <div class="container">
    <h1>All Listed Buildings</h1>

    <div class="row" style="justify-content: center;">
    <% for (let building of buildings) { %>
        <div class="card m-3" style="width: 18rem; display: inline-block">
            <img class="card-img-top"
                src="https://static.dezeen.com/uploads/2019/01/chrysler-building-for-sale-news-architecture-new-york-city-dezeen-2364-shutterstock-65007532-sq.jpg"
                alt="Card image cap">
            <div class="card-body" >
                <h5 class="card-title">
                    <%=building.title%>
                </h5>
                <p class="card-text text-muted">
                    <%=building.description%>
                </p>
                <a href="/buildings/<%=building.id%>" class="btn btn-light">Show</a>
            </div>
        </div>
    <% } %>
    </div>
    </div>