/* color-palette
#eadde1, #f3eaf4, #e5cedc, #bca3ac, #8f9491 */


body {
    background: linear-gradient(to right, #bca3ac, #867b7f);
    color:#8f9491;
    font-family:'Noto Serif SC',serif;
}

a {
    color: #8f9491;
}

.card {
    border: none;

}

#cluster-map{
    width:100%;
    height: 500px;
}
#map {
    width:100%;
    height:100%;
    border-radius: 5px;
    margin: 0;
}
.mapboxgl-popup{
    font-family: 'Noto Serif SC',serif;
}

#mainNavbar {
    font-family: serif;
    background:#8f9491;
}
#mainNavbar .nav-link, #mainNavbar .navbar-brand{
    color:beige;
}
#mainNavbar .nav-link:hover  {
    text-decoration: underline dotted 2px beige;
}

.btn {
    color:beige;
    background-color: #8f9491;
    border: none;
}
.footer, .footer span {
    text-align: center;
    background-color:#867b7f;
    font-family: serif;
    color: beige;
}


/* new page */
.wikiI {
    border-radius: 6px;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    background-color: beige;
    padding: 15px;
    box-shadow: 0 10px 10px   rgba(0,0,0,0.5);
}