body {
    text-align: center;
}
h5{
    font-weight: 700;
}

#masonry {
    column-count: 3;
    column-gap: 15px;
}

@media screen and (max-width: 992px){
    #masonry {
        column-count: 2;
    }
}

@media screen and (max-width: 768px){
    #masonry {
        column-count: 1;
    }
}