#factsCarousel{
    width: 100%;
    height: 150px;
}
/* #factsCarousel .carousel-control-next,
#factsCarousel .carousel-control-prev{
    filter: invert(100%);
} */
#factsCarousel {
    font-family: 'Tangerine', cursive;
    font-size: 2em;

    color:  beige;
}

#imageCarousel .carousel-inner {
    height: 100vh;
    border-radius: 5px;
}

.carousel-item img {
    max-width: 100%;
    object-fit: contain;
}
.btn {
    color:#8f9491;
}