<% layout ('layouts/boilerplate') %>
    <div class="my-5 container-fluid d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-xl-4">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/dlhgkcxol/image/upload/v1614335719/CitiesAndBuildings/photo-1499359875449-10bbeb21501e_fo0zq8.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Log In</h4>
                    <form action="/login" method="POST" class="validated-form" novalidate autocomplete="on">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input class="form-control" name="username" id="username" type="text" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" autocomplete = "off" name="password" id="password" type="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid" >
                        <button class="btn btn-success">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>