* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro','sans-serif';
    background-image: url("https://source.unsplash.com/featured/?meditation");
    background-size: cover;
    min-height: 100vh;
    
}

article{
    background:rgba(255,255,255,0.5);
    font-size: 1.5rem;
    color: black;
    max-width: 40rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.2rem;
    font-weight: 200;
}

.control{
    background:rgba(5,5,5,0.65) ;
    color: white;
    padding: 0.5rem;
    position: fixed;
    bottom:0;
    width: 100%;
}

.control ul{
    list-style:none;
}

.control li{
    padding: 0 0.5rem;
}

.control a{
    color:white;
    text-decoration: none;
}

.control *{
    display: inline-block;
}

.control .player{
    position: absolute;
    right: 0;
}

.control .player span{
    display:none;
}

.control .player a:hover{

    color:black;
}