<nav id="mainNavbar"class="navbar navbar-expand-lg sticky-top navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="bi bi-bookmark-heart-fill"></i> UrBuildingMap </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/buildings">All Listed Buildings</a>
          <a class="nav-link" href="/buildings/new">Add A Building</a>
        </div>
        <div class="navbar-nav  ms-auto" >
          <% if (!currentUser) { %> 
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Sign Up</a>
          <% } else { %> 
            <a class="nav-link" href="/logout">Log Out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>